// Tog animationen och ::before && ::after från: https://www.youtube.com/watch?v=w1nhwUGsG6M

main article img {
    width: 5rem;
    height: 5rem;
    opacity: 0;
}

main article {
    background-color: black;
    width: 5rem;
    height: 5rem;
    border: 2px solid #f5f3ea;
}

.found {
    background-color: greenyellow;
}

.opacity {
    opacity: 1;
}

body {
    margin: 0;
    font-family: monospace;
    background-color: #f5f3ea;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
}

h1 {
    position: relative;
    font-family: monospace;
    width: max-content;
    transform: translateY(-3rem);
}

h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: #f5f3ea;
    animation: 
        typewriter 3s steps(9) forwards;
}

main {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 3s forwards;
}

main section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@keyframes typewriter {
    to { left: 100%; }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}